.p{
    background-color: blue;
    text-align: center;
    color: white;

}

.h1{
    background-color: aquamarine;
    text-align: center;
    color: rgb(0, 0, 0);

    /* padding: 50px 50px 50px 50px; */

    /* padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px; */

    margin: 50px 50px 50px 50px;

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50PX;
    margin-bottom: 50PX;


}


#sample-id-selector{
    background-color: red;
    text-align: center;
    font-size: larger;
}

body{
    background-image: url(../img/space-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/* sdhfvsdkbnkvjsdvnksdv
sdhfvsdkbnkvjsdvnksdv
sdhfvsdkbnkvjsdvnksdv
sdhfvsdkbnkvjsdvnksdv
sdhfvsdkbnkvjsdvnksdv
sdhfvsdkbnkvjsdvnksdv */